html, body {
    margin: 0;
    height: 100%;
    background-color: #1E352F;
}

.content-container{
    max-width: 500px;
    padding: 1rem 0;
    margin: 3rem auto;
    background-color: #335145;
    color: #BEEF9E;
    text-align: center;
}

header {
    margin: 2rem auto;
    color: #BEEF9E;
    text-align: center;
}